body {
	margin-top: 50px;
}

h2 {
	margin-bottom: 20px;
}

h1 a, h2 a, h3 a, #menu a {
    text-decoration: none !important;
}

form {
	margin-bottom: 0px !important;
}

.tabContent  {
	float: left;
}

div.ticket_timeline {
    border: 1px solid #CCC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
}

.hero-ticket {
	padding: 10px;
}

.hero-unit p {
	font-size: 100% !important;
}






#content-inner
{
    padding-left: 10px;
    padding-right: 10px;
}

#footer
{
    text-align: center;
    padding-top: 10px;
    color: #CCC;
    font-size: 8pt;
}

.projectText
{
    width: 400px;
    height: 150px;
}

td.manageMember input, td.manageMember select
{
    margin-right: 10px;
}

.addUser
{
    margin-top: 20px;
}

.tabs ul
{
    list-style-type: none;
    margin-left: 40px;
}

.tabs li
{
    display: inline;
}

.tabs .active
{
    font-weight: bold;
}

.tabs .active a
{
    border-bottom: 1px solid #FFF;
}

#tabContent_2, #tabContent_3, #tabContent_4, #tabContent_5
{ 
    display: none; 
}  

.roleSettings .formLabel
{
    width: 200px;
    margin-bottom: 10px;
}

.alignright
{
    position: absolute;
    right: 0px;
}

.floatright
{
    float: right;
}

.floatleft
{
    float: left;
}

.normalText
{
    text-transform: none !important;
}

/*
 *
*/
.formRow
{
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.formLabel
{
    float: left;
    width: 130px;
}

.formValue
{
    float: left;
}



/*
 *
*/
.milestone
{
    margin-bottom: 30px;
}

.milestone h3
{
    background: #F3F3F3;
    border: 1px solid #DDD;
    padding: 5px;
    padding-bottom: 3px !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
}

.milestone .meta
{
    margin-left: 20px;
}

.milestoneTickets
{
    margin-top: 20px;
}

.percentBar .background-color1
{
    background-color: #88C134;
}

.percentBar .background-color2
{
    background-color: #81629F;
}

.percentBar .background-color3
{
    background-color: #22B5BF;
}

.percentBar .background-color4
{
    background-color: #E98813;
}

.percentBar .background-color5
{
    background-color: #D2315D;
}

.state .color1 {
    color: #88C134;
}

.state .color2 {
    color: #81629F;
}

.state .color3 {
    color: #22B5BF;
}

.state .color4 {
    color: #E98813;
}

.state .color5 {
    color: #D2315D;
}

.priority .color1 {
    color: #F00;
}

.priority .color2 {
    color: #FF8000;
}

.priority .color3 {
    color: #CC0;
}

.priority .color4 {
    color: #88C134;
}

.priority .color5 {
    color: #A0D256;
}

.percentBar .noTickets
{
    background-color: #EEE;
}

.hash
{
    font-size: 12pt;
    color: #CCC;
}

/* 
 *	
*/
div.ticket
{
    background: #ADE;
    border: 1px solid #8BC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
    width: 80%;
}
.editTicket
{
    margin-top: 10px;
    padding: 10px;
}

div.ticket hr
{
    background-color: #AAA;
    border: 0px;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 
 *	
*/
table.ticket 
{
    border-collapse: collapse;
    width: 100%;
}

table.ticket tr
{
}

table th, table td
{
    padding: 2px;
    line-height: 18px;
    padding-left: 5px;
}

table.ticket th
{
    text-align: left;
}

#add .formRow
{
    margin-bottom: 10px;
}


.clearfix
{
    clear: both;
}

ul.sublist
{
    padding: 10px;
}

.rminfo
{
    color:	green;
    font-weight: bold;
}
.ticketComment 
{
    width: 300px;
    height: 100px;
}

.acitivityCmnt 
{
    color: #444;
    margin-left: 20px;
    font-size: 8pt;
}

.home 
{
    width: 900px;
}

.home ul 
{
    margin-left: 40px;
    margin-bottom: 10px;
}

.home h3 
{
    margin-top: 10px;
}

.home p {
    margin-bottom: 5px;
}

.ticketSearch {
    margin-left: 10px;
}

td.action a {
    display: block;
    float: left;
    margin-right: 20px;
}


.noAcc {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

#wikicontent {
	min-height: 400px;
	width: 600px;
}

#wikiedit_textarea {
	display: none;
	margin: 5px;
	min-height: 400px;
	padding: 5px;
	width: 600px;
}

#submitbutton, #cancelbutton {
	display: none;
}

.changedFields {
    margin-left: 40px;
}

.pinOnTop tbody td {
    vertical-align: top;
}

.textDropdown .caret {
	vertical-align: middle;
	opacity: 1;
	border-top-color: #FFF;
}

.navbar ul.nav li.projectChooser .dropdown-menu a {
	color: #333 !important;
}

.progress {
	width: 300px;
}