*
{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'OpenSans';
    src: url('misc/opensans-webfont.eot');
    src: url('misc/opensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('misc/opensans-webfont.woff') format('woff'),
         url('misc/opensans-webfont.ttf') format('truetype'),
         url('misc/opensans-webfont.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    color: #333;
    font-size: 10pt;
    font-family: OpenSans;
    min-width: 900px;
    background: #FFF;
}

a
{
    border-bottom: 1px dotted #333;
}

a:hover
{
    border-bottom: none;
}

h1 a, h2 a, h3 a
{
    border-bottom: none;
}

h3 a:hover
{
    border-bottom: 1px dotted #333;
}

/* 
 *	
*/
#head
{
    background: #068 url(img/headBg.png);
    height: 50px;
    font: 10pt Georgia;
}

#menu
{
    background: #068 url(img/headBg.png);
    padding: 10px;
    border-bottom: 1px solid #333;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

#menu ul
{
    list-style-type: none;
}

#menu li
{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 3px solid #068;
}

#menu a
{
    text-transform: uppercase;
    border: none;
    color: #FFF;
}

#menu li:hover a
{
    border-bottom: 2px solid #FFF;
}

#menu li:hover a.normLink
{
    border-bottom: none;
}

#menu li a.normLink:hover
{
    border-bottom: 1px dotted #FFF;
}

#menu select
{
    border: 0px;
    margin-top: -3px;
    background: #068;
    color: #FFF;
}

#content
{
    float: left;
    font-size: 12px;
    width: 100%;
}

#innerContentLOL
{
    padding: 10px;
}

#footer
{
    clear: both;
    text-align: center;
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

#failure
{
    background: #FAA;
    border: solid 1px #F54;
    color: #F00;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 500px;
}

#success
{
    background: #D6FFD6;
    border: solid 1px #00D600;
    color: #060;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.error 
{
    color: #600;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #FFB3B3;
    border: 1px solid #F66;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.projectText
{
    width: 400px;
    height: 150px;
}

.tabbed 
{
    margin-top: 20px;
}

.tabs
{
    border-bottom: 1px solid #CCC;
}

.tabs a
{
    border: none;
    margin-right: 5px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding-left: 10px;
    padding-right: 10px;
}

td.manageMember input, td.manageMember select
{
    margin-right: 10px;
}

.addUser
{
    margin-top: 20px;
}

.tabs ul
{
    list-style-type: none;
    margin-left: 40px;
}

.tabs li
{
    display: inline;
}

.tabs .active
{
    background: #FFF;
    font-weight: bold;
}

.tabs .active a
{
    border-bottom: 1px solid #FFF;
}

.tabs li:hover
{
    background: #FFF;
}

.tabContent
{
    padding: 10px; 
}

#tabContent_2, #tabContent_3, #tabContent_4, #tabContent_5
{ 
    display: none; 
}  

.roleSettings .formLabel
{
    width: 200px;
    margin-bottom: 10px;
}

.alignright
{
    position: absolute;
    right: 0px;
}

.floatright
{
    float: right;
}

.floatleft
{
    float: left;
}

input, textarea, select
{
    color: #555;
    background: #FFF;
    border: 1px solid #CCC;
    font: 10pt Helvetica;
    padding: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.normalText
{
    text-transform: none !important;
}

/*
 *
*/
.formRow
{
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.formLabel
{
    float: left;
    width: 130px;
}

.formValue
{
    float: left;
}

/* 
 *	
*/
h1
{
    line-height: 50px;
    text-align: right;
    margin-right: 60px;
    color: #FFF;
    font-style: italic;
    text-shadow: 1px 1px 3px #000;
}

h2
{
    font-size: 16pt;
    margin-bottom: 20px;
}

h3
{
    margin-bottom: 5px;
}

/* 
 *	
*/
a
{
    color: #000;
    text-decoration: none;
}

/* 
 *	
*/
table.overview
{
    color: #222;
    width: 100%;
}

table.overview a
{
    color: #444;
}

table.overview th
{
    text-transform: lowercase;
    font-weight: normal;
    background: #333;
    color: #FFF;
    padding: 5px 0px 3px 5px;
    border-bottom: 3px solid #068;
    letter-spacing: 1px;
    text-align: left;
}

table.overview th a
{
    color: #FFF !important;
}

table.overview tr:hover
{
    background: #AAA;
}

table.overview .tr0
{
    background: #FAFAFA;
}

table.overview .tr1
{
    background:	#EEE;
}

table.overview .id
{
    width: 3%;

}
table.overview .state
{
    width: 5%;
}


table.overview .state
{
    width: 10%;
}

table.overview .priority
{
    width: 8%;
}

table.overview .created
{
    width: 12%;
}

table.overview .owner
{
    width: 7%;
}

/*
 *
*/
.milestone
{
    margin-bottom: 30px;
}

.milestone h3
{
    background: #F3F3F3;
    border: 1px solid #DDD;
    padding: 5px;
    padding-bottom: 3px !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
}

.milestone .meta
{
    margin-left: 20px;
}

.milestoneTickets
{
    margin-top: 20px;
}

.percentBar
{
    width: 300px;
    text-align: center;
    text-shadow: 0px 0px 10px #FFF;
    border: 1px solid #999;
    margin-bottom: 10px;
}

.percentBar td
{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 10px;
}

.percentBar .background-color1
{
    background-color: #88C134;
}

.percentBar .background-color2
{
    background-color: #81629F;
}

.percentBar .background-color3
{
    background-color: #22B5BF;
}

.percentBar .background-color4
{
    background-color: #E98813;
}

.percentBar .background-color5
{
    background-color: #D2315D;
}

.color1
{
    color: #88C134;
}

.color2
{
    color: #81629F;
}

.color3
{
    color: #22B5BF;
}

.color4
{
    color: #E98813;
}

.color5
{
    color: #D2315D;
}

.percentBar .noTickets
{
    background-color: #EEE;
}

.hash
{
    font-size: 12pt;
    color: #CCC;
}

/* 
 *	
*/
div.ticket
{
    background: #ADE;
    border: 1px solid #8BC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
    width: 80%;
}

div.ticket_timeline
{
    border: 1px solid #8BC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 5px;
    padding: 10px;
    width: 80%;
}

.editTicket
{
    margin-top: 10px;
    padding: 10px;
}

div.ticket hr
{
    background-color: #AAA;
    border: 0px;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 
 *	
*/
table.ticket 
{
    border-collapse: collapse;
    width: 100%;
}

table.ticket tr
{
}

table th, table td
{
    padding: 2px;
    line-height: 18px;
    padding-left: 5px;
}

table.ticket th
{
    text-align: left;
}

.add, #login
{
    background: #EEE;
    border: 1px solid #BBB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 3px 3px 3px #333;
    display: none;
    position: absolute;
    width: 400px; 
    z-index: 5;
    left: 50%;
    margin-left: -210px;
    padding: 20px;
    color: #333;
    text-shadow: none;
}

.add a, #login a
{
    color: #333 !important;
    text-transform: none;
}

.add input, .add textarea
{
    width: 400px;
}

.add textarea
{
    height: 120px;
}

.closeButton
{
    float: right;
    border-radius: 5px;
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 25px;
    border: 1px solid #AAA;

}

.closeButton:hover
{
    box-shadow: inset 1px 1px 2px #333;
}

#add .formRow
{
    margin-bottom: 10px;
}


.clearfix
{
    clear: both;
}

ul.sublist
{
    padding: 10px;
}

p.info
{
    color:	green;
    font-weight: bold;
}

button
{
    border: 1px solid #999;
    padding: 5px;
    background: #DDD;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

}

button:hover
{
    background: #EEE;
    border: 1px solid #CCC;
}

.ticketComment 
{
    width: 300px;
    height: 100px;
}

.acitivityCmnt 
{
    color: #444;
    margin-left: 20px;
    font-size: 8pt;
}
