*
{
	margin:	0px;
	padding: 0px;
}

body
{
	color: #333;
	font: 10pt Helvetica;
}

/* 
 *	
 */
#head
{
	background: #005FFF;
	height:	50px;
}

#menu
{
    background: #DDD;
}

#menu ul
{
    list-style-type: none;
}

#menu li
{
    float: left;
    padding: 15px;
}

#menu li:hover
{
    background-color: #CCC;
}

#menu li a:hover
{
    text-decoration: underline;
}

#content
{
	float: left;
    width: 100%;
}

#innerContentLOL
{
    padding: 10px;
}

#foot
{
    clear: both;
    text-align: center;
    border-top: 1px solid #CCC;
    padding-top: 5px;
}

#failure
{
	background: #FAA;
	border:	solid 2px #F54;
	color:	#F00;
	width:	200px;
	height:	40px;
}

/*
 *
 */
.formRow
{
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.formLabel
{
    float: left;
    width: 130px;
}

.formValue
{
    float: left;
}

/* 
 *	
 */
h1
{

}

h2
{
	font-size: 16pt;
}

/* 
 *	
 */
a
{
	color: #000;
	text-decoration: none;
}

/* 
 *	
 */
table.overview
{
	color: #000099;
    width: 100%;
}

table.overview a
{
	color: #009;
}

table.overview th
{
	font-weight: bold;
}

table.overview tr:hover
{
	background: #AAA;
}

table.overview .tr0
{
	background: #DDD;
}

table.overview .tr1
{
	background:	#FFF;
}

/* 
 *	
 */
div.ticket
{
	background: #77AADC;
	width: 500px;
	height:	200px;
}

/* 
 *	
 */
table.ticket 
{
	border-collapse: collapse;
	width: 95%;
}

table.ticket tr
{
	border-bottom: 1px dotted #000;
}

table.ticket th
{
	font-weight: normal;
}

#add
{
	background: gray;
	border: solid 2px;
	display: none;
	position: absolute;
	width: 400px; 
	z-index: 5;
}

.clearfix
{
    clear: both;
}

