*
{
	margin:	0px;
	padding: 0px;
}

body
{
	color: #333;
	font: 10pt Helvetica;
	min-width: 900px;
}

/* 
 *	
 */
#head
{
	background: #005FFF;
	height:	50px;
}

#menu
{
    background: #DDD;
}

#menu ul
{
    list-style-type: none;
}

#menu li
{
    float: left;
    padding: 15px;
}

#menu li:hover
{
    background-color: #CCC;
}

#menu li a:hover
{
    text-decoration: underline;
}

#content
{
	float: left;
	font-size: 12px;
    width: 100%;
}

#innerContentLOL
{
    padding: 10px;
}

#foot
{
    clear: both;
    text-align: center;
    border-top: 1px solid #CCC;
    padding-top: 5px;
}

#failure
{
	background: #FAA;
	border:	solid 1px #F54;
	color:	#F00;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 500px;
}

/*
 *
 */
.formRow
{
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.formLabel
{
    float: left;
    width: 130px;
}

.formValue
{
    float: left;
}

/* 
 *	
 */
h1
{

}

h2
{
	font-size: 16pt;
}

/* 
 *	
 */
a
{
	color: #000;
	text-decoration: none;
}

table
{
	font-size: 12px;
}

/* 
 *	
 */
table.overview
{
	color: #222;
    width: 100%;
}

table.overview a
{
	color: #444;
}

table.overview th
{
	font-weight: bold;
}

table.overview tr:hover
{
	background: #AAA;
}

table.overview .tr0
{
	background: #DDD;
}

table.overview .tr1
{
	background:	#FFF;
}

table.overview .id
{
	width: 5%;
}

table.overview .title
{

}

table.overview .state
{
	width: 6%;
}

table.overview .priority
{
	width: 8%;
}

table.overview .created
{
	width: 12%;
}

table.overview .owner
{
	width: 7%;
}



/* 
 *	
 */
div.ticket
{
	background: #ADE;
	border: 1px solid #8BC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 4px;
	width: 80%;
}

div.ticket hr
{
	background-color: #AAA;
	border: 0 none;
	color: #AAA;	
	height: 1px;
	margin-top: 4px;
	margin-bottom: 4px;
}

/* 
 *	
 */
table.ticket 
{
	border-collapse: collapse;
	width: 100%;
}

table.ticket tr
{
}

table.ticket th,td
{
	padding: 2px;
}

#add
{
	background: gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-top: solid 2px #666;
	border-left: solid 2px #666;
	border-right: solid 4px #000;
	border-bottom: solid 4px #000;
	display: none;
	opacity: 0.95;
	position: absolute;
	width: 400px; 
	z-index: 5;
}

.clearfix
{
    clear: both;
}

ul.sublist
{
	padding: 10px;
}

p.info
{
	color:	green;
	font-weight: bold;
}

div.milestone
{
	border-bottom: dotted 2px black;
	margin-bottom: 5px;
}

