*
{
    margin: 0px;
    padding: 0px;
}

body
{
    color: #333;
    font-size: 11pt;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    min-width: 900px;
}

a:hover
{
    text-decoration: underline;
}

h1 a, h2 a, h3 a, #menu a
{
    text-decoration: none !important;
}

/* 
 *	
 */
#head
{
    background: #068 url(img/headBgN.png);
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}

#head h1 {
    font-size: 18pt;
    font-family: Georgia;
}

.llfix {
    padding-right: 10px;
}

#menu
{
    padding: 10px;
    line-height: 30px;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-size: 10pt;
}

#menu ul
{
    list-style-type: none;
}

#menu li
{
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    border-bottom: 3px solid transparent;
}

#menu li.project_selector
{
	border-bottom: 0px;
    background: none !important;
}

#menu a
{
    border: none;
    color: #FFF;
    padding: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu li:hover a, .menuActive
{
    background: rgba(0,0,0,0.2);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
}

#menu li a.normLink
{
    border-bottom: none;
    padding: 0px;
    background: none;
    box-shadow: none;
}

#menu select
{
    border: 0px;
    margin-top: -3px;
    background: #068;
    color: #FFF;
}

#content
{
    float: left;
    font-size: 12px;
    width: 100%;
}

#innerContentLOL
{
    padding: 10px;
}

#footer
{
    clear: both;
    text-align: center;
    padding-top: 10px;
    color: #CCC;
    font-size: 8pt;
}

.message {
    background-repeat: repeat-x;
    border: rgba(0, 0, 0, 0.102);
    border-bottom-color: rgba(0, 0, 0, 0.251);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
    color: #FFF;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.failure
{
    background-color: #c43c35;
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35); 
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
}

.success
{
    background-color: #57a957;
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-linear-gradient(top, #62c462, #57a957); 
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
}

.info {
    background-color: #339bb9; 
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9); 
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
}

.projectText
{
    width: 400px;
    height: 150px;
}

.tabbed 
{
    margin-top: 20px;
}

.tab 
{
    padding-top: 2px;
    padding-bottom: 5px;
}

.tabs
{
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
}

.tabs a
{
    border: none;
    margin-right: 5px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

td.manageMember input, td.manageMember select
{
    margin-right: 10px;
}

.addUser
{
    margin-top: 20px;
}

.tabs ul
{
    list-style-type: none;
    margin-left: 40px;
}

.tabs li
{
    display: inline;
}

.tabs .active
{
    font-weight: bold;
}

.tabs .active a
{
    border-bottom: 1px solid #FFF;
}

.tabContent
{
    padding: 40px; 
}

#tabContent_2, #tabContent_3, #tabContent_4, #tabContent_5
{ 
    display: none; 
}  

.roleSettings .formLabel
{
    width: 200px;
    margin-bottom: 10px;
}

.alignright
{
    position: absolute;
    right: 0px;
}

.floatright
{
    float: right;
}

.floatleft
{
    float: left;
}

input, textarea, select
{
    color: #555;
    background: #FFF;
    border: 1px solid #CCC;
    font: 10pt Helvetica;
    padding: 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 1px 1px 3px #DDD;
}

input[type=submit] {
    box-shadow: inset -1px -1px 2px #DDD;
}

input[type=submit]:active {
    box-shadow: inset 1px 1px 2px #DDD;
}

.normalText
{
    text-transform: none !important;
}

/*
 *
*/
.formRow
{
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.formLabel
{
    float: left;
    width: 130px;
}

.formValue
{
    float: left;
}

/* 
 *	
*/
h1 a
{
    margin-right: 40px;
    color: #FFF;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
    float: left;
}

h2
{
    font-size: 16pt;
    margin-bottom: 20px;
}

h3
{
    margin-bottom: 5px;
}

/* 
 *	
*/
a
{
    color: #000;
    text-decoration: none;
}

/* 
 *	
*/

table {
    width: 100%;
}

th
{
    text-transform: lowercase;
    font-weight: normal;
    color: #FFF;
    border-bottom: 3px solid #068;
    letter-spacing: 1px;
    text-align: left;
    background: #333 url(img/bg.gif) center right no-repeat;
    cursor: pointer; 
}

th.headerSortUp { 
    background-image: url(img/asc.gif); 
    background-color: #068; 
} 

th.headerSortDown { 
    background-image: url(img/desc.gif); 
    background-color: #068; 
} 

.zebra tbody tr:nth-child(2n+1) td {
    background:	#EEE;
}

/*
 *
*/
.milestone
{
    margin-bottom: 30px;
}

.milestone h3
{
    background: #F3F3F3;
    border: 1px solid #DDD;
    padding: 5px;
    padding-bottom: 3px !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
}

.milestone .meta
{
    margin-left: 20px;
}

.milestoneTickets
{
    margin-top: 20px;
}

.percentBar
{
    width: 300px;
    text-align: center;
    text-shadow: 0px 0px 10px #FFF;
    border: 1px solid #999;
    margin-bottom: 10px;
}

.percentBar td
{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 10px;
}

.percentBar .background-color1
{
    background-color: #88C134;
}

.percentBar .background-color2
{
    background-color: #81629F;
}

.percentBar .background-color3
{
    background-color: #22B5BF;
}

.percentBar .background-color4
{
    background-color: #E98813;
}

.percentBar .background-color5
{
    background-color: #D2315D;
}

.color1
{
    color: #88C134;
}

.color2
{
    color: #81629F;
}

.color3
{
    color: #22B5BF;
}

.color4
{
    color: #E98813;
}

.color5
{
    color: #D2315D;
}

.percentBar .noTickets
{
    background-color: #EEE;
}

.hash
{
    font-size: 12pt;
    color: #CCC;
}

/* 
 *	
*/
div.ticket
{
    background: #ADE;
    border: 1px solid #8BC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
    width: 80%;
}

div.ticket_timeline
{
    border: 1px solid #8BC;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 5px;
    padding: 10px;
    width: 80%;
}

.editTicket
{
    margin-top: 10px;
    padding: 10px;
}

div.ticket hr
{
    background-color: #AAA;
    border: 0px;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 
 *	
*/
table.ticket 
{
    border-collapse: collapse;
    width: 100%;
}

table.ticket tr
{
}

table th, table td
{
    padding: 2px;
    line-height: 18px;
    padding-left: 5px;
}

table.ticket th
{
    text-align: left;
}

#darkBg {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 4;
}

.layer
{
    background: #FFF;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    width: 400px; 
    z-index: 5;
    left: 50%;
    margin-left: -210px;
    padding: 20px;
    color: #333;
    text-shadow: none;
    top: 100px;
    font-size: 9pt;
}

.layer h3 {
    margin-bottom: 30px;
}

.layer a
{
    color: #333 !important;
    text-transform: none;
}

.layer a:hover {
    text-decoration: underline;
}

.add input, .add textarea
{
    width: 400px;
}

.add textarea
{
    height: 120px;
}

.closeButton
{
    float: right;
    text-decoration: none !important;
    border: none;
    font-size: 13pt;
}

#add .formRow
{
    margin-bottom: 10px;
}


.clearfix
{
    clear: both;
}

ul.sublist
{
    padding: 10px;
}

.rminfo
{
    color:	green;
    font-weight: bold;
}

button
{
    color: #555;
    background: #FFF;
    border: 1px solid #CCC;
    font: 10pt Helvetica;
    padding: 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset -1px -1px 2px #DDD;
}

button:active {
    box-shadow: inset 1px 1px 2px #DDD;
}

.ticketComment 
{
    width: 300px;
    height: 100px;
}

.acitivityCmnt 
{
    color: #444;
    margin-left: 20px;
    font-size: 8pt;
}

.home 
{
    width: 900px;
}

.home ul 
{
    margin-left: 40px;
    margin-bottom: 10px;
}

.home h3 
{
    margin-top: 10px;
}

.home p {
    margin-bottom: 5px;
}

.ticketSearch {
    margin-left: 10px;
}