*
{
	margin:	0px;
	padding: 0px;
}

body
{
	color: #333;
	font: 10pt Helvetica;
	min-width: 900px;
}

/* 
 *	
 */
#head
{
	background: #068;
	height:	50px;
    font: 10pt Georgia;
}

#menu
{
    background: #068;
    padding: 10px;
    border-bottom: 1px solid #333;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}

#menu ul
{
    list-style-type: none;
}

#menu li
{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 3px solid #068;
}

#menu a
{
    text-transform: uppercase;
    color: #FFF;
}

#menu li:hover a
{
    border-bottom: 3px solid #FFF;
}

#menu li:hover a.normLink
{
    border-bottom: none;
}

#menu li a.normLink:hover
{
    border-bottom: 1px solid #FFF;
}

#menu select
{
    border: 0px;
    margin-top: -3px;
    background: #068;
    color: #FFF;
}

#content
{
	float: left;
	font-size: 12px;
    width: 100%;
}

#innerContentLOL
{
    padding: 10px;
}

#footer
{
    clear: both;
    text-align: center;
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

#failure
{
	background: #FAA;
	border:	solid 1px #F54;
	color:	#F00;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 500px;
}

.alignright
{
    position: absolute;
    right: 0px;
}

.floatright
{
    float: right;
}

.floatleft
{
    float: left;
}

input, textarea, select
{
    color: #555;
    background: #FFF;
    border: 1px solid #CCC;
    font: 10pt Helvetica;
    padding: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.normalText
{
    text-transform: none !important;
}

/*
 *
 */
.formRow
{
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.formLabel
{
    float: left;
    width: 130px;
}

.formValue
{
    float: left;
}

/* 
 *	
 */
h1
{
    line-height: 50px;
    text-align: right;
    margin-right: 60px;
    color: #FFF;
    font-style: italic;
    text-shadow: 1px 1px 3px #000;
}

h2
{
	font-size: 16pt;
    margin-bottom: 20px;
}

h3
{
    margin-top: 30px;
    margin-bottom: 2px;
}

/* 
 *	
 */
a
{
	color: #000;
	text-decoration: none;
}

table
{
	font-size: 12px;
}

/* 
 *	
 */
.userTickets
{
    width: 70% !important;
}

table.overview
{
	color: #222;
    width: 100%;
}

table.overview a
{
	color: #444;
}

table.overview th
{
	font-weight: bold;
}

table.overview tr:hover
{
	background: #AAA;
}

table.overview .tr0
{
	background: #DDD;
}

table.overview .tr1
{
	background:	#FFF;
}

table.overview .id
{
	width: 5%;
}

table.overview .title
{

}

table.overview .state
{
	width: 6%;
}

table.overview .priority
{
	width: 8%;
}

table.overview .created
{
	width: 12%;
}

table.overview .owner
{
	width: 7%;
}



/* 
 *	
 */
div.ticket
{
	background: #ADE;
	border: 1px solid #8BC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 4px;
	width: 80%;
}

div.ticket hr
{
	background-color: #AAA;
	border: 0 none;
	color: #AAA;	
	height: 1px;
	margin-top: 4px;
	margin-bottom: 4px;
}

/* 
 *	
 */
table.ticket 
{
	border-collapse: collapse;
	width: 100%;
}

table.ticket tr
{
}

table.ticket th,td
{
	padding: 2px;
}

#add, #login
{
	background: #EEE;
    border: 1px solid #BBB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #333;
	display: none;
	position: absolute;
	width: 400px; 
	z-index: 5;
    left: 50%;
    margin-left: -210px;
    padding: 20px;
    color: #333;
}

#add a, #login a
{
    color: #333 !important;
    text-transform: none;
}

#add input, #add textarea
{
    width: 400px;
}

#add textarea
{
    height: 120px;
}

.closeButton
{
    float: right;
    border-radius: 5px;
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 25px;
    border: 1px solid #AAA;

}

.closeButton:hover
{
    box-shadow: inset 1px 1px 2px #333;
}

#add .formRow
{
    margin-bottom: 10px;
}


.clearfix
{
    clear: both;
}

ul.sublist
{
	padding: 10px;
}

p.info
{
	color:	green;
	font-weight: bold;
}

div.milestone
{
	border-bottom: dotted 2px black;
	margin-bottom: 5px;
}

