*
{
    margin: 0px;
    padding: 0px;
}

body
{
    color: #333;
    font-size: 9pt;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 30px;
}

a {
    color: #FFF;
    text-decoration: none;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font: 18pt Georgia;
    line-height: 50px;
    text-align: right;
    margin-right: 20px;
    font-style: italic;
    text-shadow: 1px 1px 3px #000;
    font-weight: bold;
}

h1 a {
    color: #FFF;
    text-decoration: none;
}

h2 {
    margin-top: 20px;
    font-size: 16pt;
}

ul {
    list-style-type: none;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

input {
    color: #555;
    background: #FFF;
    border: 1px solid #CCC;
    font: 10pt Helvetica;
    padding: 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 1px 1px 3px #DDD;
}

input[type=submit] {
    box-shadow: inset -1px -1px 2px #DDD;
}

input[type=submit]:active {
    box-shadow: inset 1px 1px 2px #DDD;
}


#content, .head, .footer {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    margin: 0 auto;
}

.head {
    width: 500px;
    background: #068 url(../gui/img/headBgN.png);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
}

#content {
    width: 498px;
}

.content {
    padding: 10px;
}

.footer {
    height: 20px;
    width: 498px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #DDD;
}

.false {
    color: #F00;
}

.true {
    color: #2DB300;
}

.formRow
{
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.formLabel
{
    float: left;
    width: 160px;
}

.formValue
{
    float: left;
}

.clearfix {
    clear: both;
}

#mysqlChosen {
    display: none;
}

.message {
    background-repeat: repeat-x;
    border: rgba(0, 0, 0, 0.102);
    border-bottom-color: rgba(0, 0, 0, 0.251);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.251);
    color: #FFF;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.failure
{
    background-color: #c43c35;
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35); 
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
}

.success
{
    background-color: #57a957;
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-linear-gradient(top, #62c462, #57a957); 
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
}